*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
     
}
header {
    background-color:#252f31;
    width:100;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px;
}

.logo {
    text-decoration:none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size:1.8em;
}
.navigation a {
    text-decoration:none;
    color: #3a6cf4;
    font-weight: 500;
    font-size:1.1em;
    padding-left:30px;
}
.navigation a:hover {
    color: #601cfc;
}
